<div class="mt-4">
  <h4>Создание тура</h4>
  <div class="mt-3" [formGroup]="tourForm">
    <div class="mt-3">
      <span class="mx-3">Имя</span>
      <input type="text"
        class="mt-3"
        formControlName="name"
        pInputText
      />
    </div>
    <div class="mt-3">
      <span class="mx-3">Описание тура</span>
      <input type="text"
        class="mt-3"
        formControlName="description"
        pInputText
      />
    </div>
    <div class="mt-3">
      <span class="mx-3">Оператор</span>
      <input type="text"
        class="mt-3"
        formControlName="operator"
        pInputText
      />
    </div>
    <div class="mt-3">
      <span class="mx-3">Стоимость</span>
      <input type="text"
        class="mt-3"
        formControlName="price"
        pInputText
      />
    </div>
    <div class="mt-3">
      <span class="mx-3">Изображение</span>
      <input type="file"
        class="mt-3"
        (change)="selectFile($event)"
        pInputText
      />
    </div>
  
    <div class="mt-4">
      <button class="btn btn-success" type="button"
              (click)="createTour()"
              [disabled]="!tourForm.valid">Создать тур</button>
    </div>
  </div>
</div>
