<div class="ticket-info-wrap">

    <a routerLink="/tickets/tickets-list">Назад</a>
    <div class="mt-3 ml-3">
      {{ ticket?.name }}
    </div>

  <div class="mt-3 ml-4">
    <h3>Информация о туре </h3>
    <h4 class="mb-4">Личная информация</h4>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="ml-4">
        <div class="p-field">
          <label for="firstName" class="p-float-label">Имя</label>
          <input id="firstName" type="text" pInputText formControlName="firstName" />
        </div>
        <div class="p-field">
          <label for="lastName" class="p-float-label">Фамилия</label>
          <input id="lastName" type="text" pInputText formControlName="lastName" />
        </div>
        <div class="p-field">
          <label for="dateOfBirth" class="p-float-label">Дата рождения</label>
          <p-calendar id="dateOfBirth" formControlName="dateOfBirth"></p-calendar>
        </div>
        <div class="p-field">
          <label for="cardNumber" class="p-float-label">Номер карты</label>
          <input id="cardNumber" type="text" pInputText formControlName="cardNumber" />
        </div>
        <div class="p-field">
          <label for="age" class="p-float-label">Возраст</label>
          <input id="age" type="number" pInputNumber formControlName="age" />
        </div>
        <div class="p-field">
          <label for="citizenship" class="p-float-label">Гражданство</label>
          <input id="citizenship" type="text" pInputText formControlName="citizenship" />
        </div>

        <div class="mt-4">
          <button class="btn-success btn" type="submit"
                  [disabled]="!userForm.valid">Перейти к оформлению</button>
        </div>
    </form>
  </div>
    </div>


  <div class="mt-4">
    <h4 class="text-center">Похожие туры</h4>

    <p-carousel [value]="newNearestTour" >
      <ng-template let-tour pTemplate="item" >
        <p class="title-country"> Страна:  {{tour.toursLocation }}</p>
        <p class="container"> {{tour.name}}</p>
        <div class="ticket-img-nearest">
          <img class="w-100 h-100" src="/assets/img/{{tour.img}}"/>
        </div>
      </ng-template>
    </p-carousel>
  </div>
