:host {
  height: 80px;
  display: block;
  margin: 20px 0 20px 0;
}

.header-container {
  position: relative;
}

.time-block {
  position: absolute;
  left: 92%;
  padding: 17px;
  
}


.user-info {
  position: absolute;
  left: 40%;
  margin: 28px;
  display: inline-block;
  border-radius: 10px;

}
:host ::ng-deep .p-menubar  {
  
  height: 80px;
  padding-left: 56px;
}

:host ::ng-deep .p-menubar-root-list {
  transition: all .3s ease-in-out;
}


:host ::ng-deep .p-menubar-root-list:hover{
  transform: translateY(1px);
  transition: all .3s ease-in-out;
  
}

